<html>  
	<head>  
    	<title>Agenda</title> 
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
	</head>  
	<body>  
    	<div class="uk-container"> 
        	<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">Novo contato</button> 
        	<table class="uk-table uk-table-striped"> 
            	<thead> 
                	<tr> 
                		<th>Tipo Evento</th>
                    	<th>Nome do contato</th> 
                    	<th>Número do telefone</th>
                    	<th>Data</th>
                    	<th>Local</th>
                	</tr> 
            	</thead> 
            	<tbody> 
                	
					<tr th:each="agenda : ${agenda}">
					    <td th:text="${agenda.tipo}"></td>
					    <td th:text="${agenda.nome}"></td>
					    <td th:text="${agenda.telefone}"></td>
					    <td th:text="${#dates.format(agenda.data, 'dd/MM/yyyy')}"></td>
					    <td th:text="${agenda.local}"></td>
					    <td><a th:href="@{'/editar/' + ${agenda.id}}"><span uk-icon="file-edit"></span></a></td>
   						<td><a th:href="@{'/excluir/' + ${agenda.id}}"><span uk-icon="trash"></span></a></td>  
					</tr>
 
            	</tbody> 
        	</table> 
    	</div> 
         
    	<div id="modal-example" uk-modal> 
        	<div class="uk-modal-dialog uk-modal-body"> 
                <form th:action="@{/}" method="post" enctype="multipart/form-data">
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">Novo contato</legend>
                       
                        <div class="uk-margin">
                       	    <select class = "uk-select" name="tipo">
  							     <option value="Aniversário">Aniversário</option>
						 		 <option value="Compromisso">Compromisso</option> 
							</select>
 						</div>
 						
                        <div class="uk-margin">
                            <input class="uk-input" type="text" name="nome" placeholder="Nome de contato" required>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input" type="tel" name="telefone" placeholder="Numero de Telefone (xxxxxxxx)" pattern="^\d{4}\d{4}$" required>
                        </div>
                        
                        <div class="uk-margin"><label class="uk-form-label" for="form-horizontal-text"></label>
                       		 <input class="uk-input" type="date" name="dataString" required>
                        </div>
                        
                        <div class="uk-margin">
                            <input class="uk-input" type="text" name="local" placeholder="Local" required>
                        </div>   
                                     
                    </fieldset>
                    <p class="uk-text-right">
                        <button class="uk-button uk-button-primary" type="submit">Adicionar</button>
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                    </p>
                </form>
        	</div> 
    	</div> 
         
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>  
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script> 
	</body>  
</html>